<body>
<div class="login-container">
  <h2>ログイン</h2>



  <%= form_tag("/users/login_chk") do %>

    <input type="text" name="mail_address" placeholder="メールアドレス" required>
    <input type="password" name="password" placeholder="パスワード" required>
    <button type="submit">ログイン</button>
    
  <% end %>

    <%= button_to "新規登録","/users/new", method: :get, class: "new_btn" %>

</div>
</body>