body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* これで縦並びに */
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
  }
  .login-container {
    width: 400px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
  }

  
  .new_btn{
    width: 100%;
    padding: 10px;
    background-color: #ff1e00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }

  .chart {
    margin: 20px 0;
    text-align: center;
  }  

  h2 {
    margin-bottom: 20px;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
  }
  button:hover {
    background-color: #0056b3;
    
  }